<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <a style="font-size: 1.5rem;" href="{{ url }}">CONFIRM</a>
</p>
<p>
	Or paste this code in the proper input
	<div style="background-color:#dddddd; color: black; padding: 3rem; border-radius: 0.5rem; font-size: 3rem; text-align: center; font-weight: 700;">
		{{code}}
	</div>
</p>
<p>If you did not request this email you can safely ignore it.</p>