<p>Hello, it's DPM</p>
<p>If you have requested for restoring password, please click link below</p>
<p>
    <a style="font-size: 1.5rem;" href="{{ url }}">Yes, change passwrod</a>
</p>

<p>If you didn't request this message, just ignore it</p>